.el-menu {
  width: 10%;
  float: left;
  background: #3e4537;
  border: white 1px solid;
}

.el-menu-item {
  background: #4b5745;
  border: white 1px solid;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: medium;
}

.el-submenu__title:hover,
.el-menu-item:focus,
.el-menu-item:hover {
  background-color: #ffa500 !important;
  color: white !important;
  box-shadow: 2px 2px 10px !important;
}

.el-menu .el-menu-item.is-active {
  background-color: #ffa500 !important;
  color: white !important;
  border-bottom-color: #ffa500 !important;
}

.el-submenu .el-submenu__title {
  color: white !important;
}

#skilldescription {
  width: 80%;
  margin-left: 15vw;
  border-radius: 5px;
  border: #ffffff 2px solid;
  background: #4b5745;
}

#skilldescription:hover {
  box-shadow: 4px 4px 15px;
}

#Spawnpointexample {
  height: 800px;
  position: relative;
  background: url("@/assets/images/tutorial/advancedskills/spawn/spawnpointexample.png") no-repeat;
  background-size: contain;
  margin-left: 300px;
  /* border: 1px solid white; */
}

#Spawnpointexample button {
  float: left;
}

#Spawnpointexample #currentspawn {
  position: absolute;
  font-size: 1.5rem;
  left: 800px;
  top: 580px;
}

#Spawnpointexample #predictspawn {
  position: absolute;
  font-size: 1.5rem;
  left: 700px;
  top: 650px;
}


.point {
  background: transparent;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  color: white;
  display: none;
}

.currentpos {
  display: inline;
  border: 5px solid red;
  cursor: pointer;
}

.predictpos {
  display: inline;
  border: 5px solid green;
}

#Spawnpointexample :nth-child(1) {
  left: 490px;
  top: 370px;
}

#Spawnpointexample :nth-child(2) {
  left: 420px;
  top: 660px;
}

#Spawnpointexample :nth-child(3) {
  left: 10px;
  top: 755px;
}

#Spawnpointexample :nth-child(4) {
  left: 125px;
  top: 470px;
}

#Spawnpointexample :nth-child(5) {
  left: 190px;
  top: 190px;
}

#Spawnpointexample :nth-child(6) {
  left: 250px;
  top: 190px;
}

#Spawnpointexample :nth-child(7) {
  left: 235px;
  top: 660px;
}

#Spawnpointexample :nth-child(8) {
  left: 95px;
  top: 760px;
}

#Spawnpointexample :nth-child(9) {
  left: 170px;
  top: 10px;
}

#Spawnpointexample :nth-child(10) {
  left: 270px;
  top: 140px;
}

#Spawnpointexample :nth-child(11) {
  left: 10px;
  top: 80px;
}

#Spawnpointexample :nth-child(12) {
  left: 10px;
  top: 355px;
}

#Spawnpointexample :nth-child(13) {
  left: 10px;
  top: 390px;
}

#Spawnpointexample :nth-child(14) {
  left: 10px;
  top: 270px;
}

#Spawnpointexample :nth-child(15) {
  left: 340px;
  top: 0px;
}

#Spawnpointexample :nth-child(16) {
  left: 520px;
  top: 275px;
}

#Spawnpointexample :nth-child(17) {
  left: 545px;
  top: 90px;
}

.AGTricksContent {
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}

.AGTricksContent p {
  margin-left: 1rem;
  margin-bottom: 10px;
  font-family: 微软雅黑;
  font-size: 1.5rem;
}

.AGTricksContent .el-image {
  width: 350px;
  height: 315px;
  display: block;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: black;
}

.AGTricksContent .ImgCaption {

  display: inline-block;
  position: relative;
  margin: 10px 10px 10px 625px;
  font-family: 微软雅黑;
  font-size: 16px;
  text-align: center;
}

.AGTricksContent .Code {
  width: 900px;
  height: auto;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: black;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}


.text {
  font-size: 1.5rem !important;
  color: white;
}

.item {
  padding: 10px 0 !important;
}

.el-card {
  color: white;
}

.box-card {
  background: #3e4537;
}

.box-card .el-card__header {
  background-color: #4b5745;
  color: white;
}

.box-card .el-card__body {
  background-color: #3e4537;
  color: white;
  height: auto;
}