.text {
  font-size: 1.5rem !important;
  color: white;
}

.item {
  padding: 10px 0 !important;
}

.el-card {
  color: white;
  min-width: 1080px;
}

.box-card {
  background: #3e4537;
  min-width: 1080px;
}

.box-card .el-card__header {
  background-color: #4b5745;
  min-width: 1080px;
  color: white;
}

.box-card .el-card__body {
  background-color: #4b5745;
  min-width: 1080px;
  height: 300px;
  overflow-y: scroll;
}

.Code {
  width: auto;
  height: auto;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #4b5745;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

.el-table__body tr:hover>td {
  background-color: #958831 !important;
}