#welcomehl {
  width: 620px;
  animation: shake 20s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: infinite;
  text-shadow: 1px 10px 10px rgba(255, 255, 255, 0.75),
    -1px 10px 10px rgba(255, 255, 255, 0.75);
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-10px, 5px, 0);
  }

  20%,
  80% {
    transform: translate3d(10px, -5px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-10px, 5px, 0);
  }

  40%,
  60% {
    transform: translate3d(10px, -5px, 0);
  }
}

#time {
  width: 670px;
  position: absolute;
  left: 60px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffa500;
}

#screen {
  min-width: 1080px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #ffa500;
}

.menu {
  width: 680px;
  flex: 2;
  bottom: 0;
}

.menu h1 {
  text-align: left;
  color: white;
  margin: 190px 40px 40px;
  font-size: 4rem;
}

.menu a {
  color: #fe7e21;
}

.menu a:hover {
  color: #ffc198;
}

.menu a:active {
  color: #fff2e9;
}

.menu ul {
  display: inline-block;
  list-style-type: none;
}

.menu li {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bolder;
}

#gordonsmile {
  flex: 1;
  right: 0;
  bottom: 0;
}

#gordonsmile .el-image {
  width: 900px;
}