.box_out {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_in {
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 3px;
  border-radius: 10px;
  background-color: #4b5745;
  overflow: hidden;
}

.box_in:hover {
  box-shadow: 2px 2px 10px white;
}