.mapselect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.map {
  border: 1px solid white;
  border-radius: 10px;
}

.respawnpoint {
  width: 40vw;
  margin: auto 20% !important;
}
