.box_out {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_in {
  width: 40%;
  display: flex;
  border: white 3px;
  border-radius: 10px;
  background-color: #4b5745;
  overflow: hidden;
}

.box_in:hover {
  box-shadow: 2px 2px 10px white;
}

#help {
  color: white;
  background: transparent;
  border: none;
}