.cover {
  width: 500px;
  max-height: 30vh;
  border-radius: 50px;

}

a {
  text-decoration: none;
}

.title {
  color: white;
  width: 500px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  
}

.box:hover {
  transform: scale(1.05);
}

.el-card {
  color: white;
}

.box-card {
  background: #3e4537;
}

.box-card .el-card__header {
  background-color: #4b5745;
  color: white;
}

.box-card .el-card__body {
  background-color: #3e4537;
  color: white;
  height: auto;
}

