@font-face {
  font-family: "element-icons"; /* Project id 4515977 */
  src: url('iconfont.woff2?t=1713526493342') format('woff2'),
       url('iconfont.woff?t=1713526493342') format('woff'),
       url('iconfont.ttf?t=1713526493342') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-wenhao:before {
  content: "\e72d";
}

